<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>info.taylorludwig.alfred2</string>
	<key>connections</key>
	<dict>
		<key>0BD5ACB2-DE12-4C35-8654-C3102AF0399C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5079CBE-F707-4FD8-8175-2CAF93C9DD03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A954FAB-40A7-4ACE-8EC8-7B8F3DABA5A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>53341448-6742-49C0-9355-0851C2E7FFE1</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open In Browser</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BCB3DD7A-B341-4533-BD76-875D27F0D2F1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy and Paste</string>
			</dict>
		</array>
		<key>AE0B8507-87A5-4D43-A2EA-63072541815F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0ABE800-AA87-4D48-A2ED-E0C802FA03A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D5079CBE-F707-4FD8-8175-2CAF93C9DD03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>776ECCAB-B0C8-4B5B-AABA-46498353138F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E0ABE800-AA87-4D48-A2ED-E0C802FA03A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>776ECCAB-B0C8-4B5B-AABA-46498353138F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Taylor Ludwig</string>
	<key>description</key>
	<string>AWS OpsWork Workflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OpsWorks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>ssh {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>0A954FAB-40A7-4ACE-8EC8-7B8F3DABA5A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>53341448-6742-49C0-9355-0851C2E7FFE1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>ops instances</string>
				<key>runningsubtext</key>
				<string>Calling AWS CLI .....</string>
				<key>script</key>
				<string>/usr/bin/ruby ./instances.rb {query}</string>
				<key>subtext</key>
				<string>AWS OpsWorks</string>
				<key>title</key>
				<string>OpsWorks Instances</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>21557827-8003-42B7-A042-16D4C9278FEC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BCB3DD7A-B341-4533-BD76-875D27F0D2F1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./clear_cache.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E0ABE800-AA87-4D48-A2ED-E0C802FA03A2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ops clear</string>
				<key>subtext</key>
				<string>Clear OpsWorks Cache</string>
				<key>text</key>
				<string>OpsWorks Clear</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AE0B8507-87A5-4D43-A2EA-63072541815F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>776ECCAB-B0C8-4B5B-AABA-46498353138F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./settings.rb set {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D5079CBE-F707-4FD8-8175-2CAF93C9DD03</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>ops settings</string>
				<key>runningsubtext</key>
				<string>Loading ....</string>
				<key>script</key>
				<string>/usr/bin/ruby ./settings.rb {query}</string>
				<key>subtext</key>
				<string>View and Set Settings</string>
				<key>title</key>
				<string>OpsWorks Settings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0BD5ACB2-DE12-4C35-8654-C3102AF0399C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A954FAB-40A7-4ACE-8EC8-7B8F3DABA5A1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>0BD5ACB2-DE12-4C35-8654-C3102AF0399C</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>53341448-6742-49C0-9355-0851C2E7FFE1</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>776ECCAB-B0C8-4B5B-AABA-46498353138F</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>AE0B8507-87A5-4D43-A2EA-63072541815F</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>BCB3DD7A-B341-4533-BD76-875D27F0D2F1</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>D5079CBE-F707-4FD8-8175-2CAF93C9DD03</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>E0ABE800-AA87-4D48-A2ED-E0C802FA03A2</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
